/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-1-9, 15:19:50
    Author     : hxsd
*/
*{margin:0;padding:0;}
body{
    background-color: #333333;
    font-family: arial;
    background-color: #111;
}
header{
    width:100%;
    height:62px;
    background-color: #000000;
}
a{text-decoration: none;}
ul li{list-style: none;}
header .inner{
    width:1664px;
    height:100%;
    margin:0 auto;
}
header.inner .nav{
    float:left;
}
header .inner .logo{
    float:left;
}

@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.3.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
header .inner .logo p {
    color: white;
    text-transform: uppercase;
    font-size:24px;
    line-height: 62px;
    letter-spacing: 5px;
    margin-left:0px;
    padding-right:31px;
    float:left;
    margin-left: 20px;
}
header .inner .logo ul li{
    float:left;
}
header .inner .logo ul{
    float: left;
    padding-right: 15px;
}
header .inner .logo ul li a{
    font-size: 18px;
    color:white;
    padding-right:13px;
    line-height: 62px;
    display: block;
}
header .inner .logo ul .pic{
    margin-top:6px;
    margin-left:-11px;
}
header .inner .logo ul li a:hover{
    color:#fcd000;
}
header .inner .nav{
    float:right;
}
header .inner .nav ul li{
    float:left;
    margin-left:10px;
}
header .inner .nav ul li a{
    color:white;
    font-size: 18px;
    display: block;
    padding:20px 20px;
    background-color: #343436;
}
header .inner .nav ul li a:hover{
    color:#fcd000;
}
header .inner .nav ul li img{
    margin-top:18px;
    margin-left:11px;
    padding-right:20px;
}

.main{
    height:1130px;
    width:1160px;
    margin:0 auto;
    position:relative;
}
.main2{
    height:780px;
    width:1160px;
    margin:0 auto;
}
.main_inner1{
    width:1160px;
    height:100px;
    border-bottom: 5px solid #0ebeff;
    position:relative;
}
.main_inner_text1{
    color:white;
    font-size:40px;
    font-weight: bolder;
    padding-top:45px;
}
.main_nav_pic{padding-top:20px;background-color: black;width:361px;height:216px;}
.main_nav_pic span{color:#666;text-transform: uppercase;font-weight: bold;margin-left:15px;letter-spacing: 2px;}
.main_nav_pic h1{color:#fff;line-height: 30px;margin-top:10px;margin-left:15px;    font-family: "Telefon", Sans-Serif;font-size:24px;font-weight: bolder;}
.main_nav_pic h1:hover{color:#ae63e4;}
.main_nav_pic p{color:#999;font-size:14px;line-height: 20px;margin-top:10px;margin-left:15px;padding-right:15px;}
.main_inner_text2 {
    position: absolute;
    top:87px;
    left:1014px;
}
.main_inner_text2 a{margin-left: 13px;}
.main_nav{
    width:1160px;
    height:281px;
    margin:0 auto;
    position:absolute;
    margin-top:25px;
}
.popular ul{
    list-style: none;
    margin-top:29px;
}
.popular ul .h1{
    font-size:18px;
    font-weight: bold;
    color:white;
}
.popular a{color:#999;}
.popular ul li{
    font-size:18px;
    color:#999;
    text-decoration: none;
    padding-right:15px;
}
.popular ul li a:hover{
    color:white;
}
.main_nav .shoter{
    width:1160px;
    height:261px;
    margin:0 auto;
    position:absolute;
    margin-top:25px;
}
.main_nav4{
    width:1160px;
    height:281px;
    margin:0 auto;
    position:absolute;
    margin-top:330px;
}
.popular ul li{
    float:left;
    color:white
}
.popular ul li a{display: block;}
.main_nav1{
    width:372px;
    height:281px;
    background-color: #2f2f31;
    float:left;
    margin-right:22px;
    border-radius: 4px;
    margin-top:15px;
    display: block;
}
.main_nav_text1:hover{color:white;}
.main_nav2{
    width:372px;
    height:281px;
    background-color: #2f2f31;
    float:right;
    border-radius: 4px;
    margin-top:15px;
    display: block;
}
.main_nav_pic{
    margin-top:5px;
    margin-left:5px;
    display: block;
}
.main_nav_text1{
    font-size:18px;
    font-weight: bolder;
    color:#999999;
    padding-left:15px;
    padding-top:10px;
      display: block;
}
.main_nav1_bottom_left:hover{color:white;}
.main_nav1_bottom_left {
    padding-left:15px;
    margin-top:10px;
    float:left;
    color:#999999;
    font-size:14px;
    font-weight: bolder;
}
.main_nav1_bottom_left span:hover{color:white;}
.main_nav1_bottom_left span{ 
    position:absolute;
    color:#999999;
    font-size:14px;
    font-weight: bolder;
    padding-bottom: 5px;
}
.main_nav1_bottom_left img{ 
    padding-right:5px;
}
.main8_nav1_bottom_left img{ 
    padding-right:5px;
}
.small_picture ul li{
    float:left;
    list-style: none;  
    padding-left:13px;
}
.small_picture ul li a:hover{color:white;}
.small_picture ul li a{display: block;color:#999;}
.small_picture span{
    margin-right:5px;
    font-size:12px;
}
.small_picture {
    margin-left: 220px;
    color:#999999;
    margin-top:10px;
}
.button{
    display: block;
    color:white;line-height:39px;text-align: center;
    width:86px;
    height:39px;
    background-color: #191919;
    color:white;
    font-size:14px;
    font-weight: bold;
}
.hot{
    width:86px;
    height:39px;
    margin:0 auto;  
    margin-top:33px;
    border:3px solid white;
    border-radius: 3px;
}
.hot_news{
    width:1160px;
    height:554px;
    margin:0 auto;
}
.hot_news2{
    width:1160px;
    height:440px;
    margin:0 auto;
}
.title{
    color:white;
    font-size:40px;
    font-weight: bolder;
    padding-top:135px;  
}
.wrapper{
    width:1160px;
    height:188px;
    border-bottom: 5px solid #47cf73;
}
.wrapper2{
    width:1160px;
    height:188px;
    border-bottom: 5px solid #ae63e4;
}
.tips{
    padding-right:25px;
    float:right;
    color:#76d1cc;
    font-size:14px;
    font-weight: bolder;
    margin-top:-20px;
}
.tips{
    padding-right:25px;
    float:right;
    color:#76d1cc;
    font-size:14px;
    font-weight: bolder;
    margin-top:-20px;
}
.tips img{
    position:absolute;
    margin-top:-13px;
    margin-left:120px;
}
.content{
    height:336px;
    width:1160px;
    margin:0 auto;
    margin-top:25px;
}
.block1{
    width:371px;
    height:231px;
    float:left;
    background-color: red;
    margin-right:21px;
    background-color: #2f2f31;
}
.block{
    width:371px;
    height:336px;
    float:left;
    background-color: red;
    margin-right:21px;
    background-color: #2f2f31;
}
.block1_right{
    width:371px;
    height:231px;
    float:right;
    background-color: red;
    background-color: #2f2f31;
}
.block_right{
    width:371px;
    height:336px;
    float:right;
    background-color: red;
    background-color: #2f2f31;
}
.block img{
    padding-left:5px;
    padding-top:5px;
}
.block1 img{
    padding-left:5px;
    padding-top:5px;
}
.block_right img{
    padding-left:5px;
    padding-top:5px;
}
.block1_right img{
    padding-left:5px;
    padding-top:5px;
}
.screenshot_left img{
    display: block;
    position:absolute;
    margin-top:2px;
    padding-left:14px;
}
.screenshot_left span{
    padding-left:40px;
    font-size: 12px;
    color:#999999;
    line-height: 34px;
}
.screenshot_right ul li{
    float:left;
    color:#999;
    margin-left:15px;
}
.screenshot_right ul{
    padding-right:5px;
    list-style: none;
    position:absolute;
    margin-left:217px;
    margin-top:-25px;
}
.screenshot_right span{
    font-size:14px;
}
.i-button{
    width:86px;
    height:37px;
    border:4px solid white;
    position: absolute;
    top:1152px;
    left:50%;
    margin-left:-45px;
}

.i-button .button{
    display: block;
    width:86px;
    height:37px;
    position:absolute;
    top:0px;
    left:0px;
    border:none;
    background-color: white;
    font-size:18px;
    font-weight: bold;
    color:white;
    background-color:#191919;
    font-family: "consolas";
}
.i-button .button:hover{background: white;color:black;}
.bottom{
    width:100%;
    height:190px;
    background-color: #111111;
}
.bottom .inner{
    width:1160px;
    height:190px;
    margin:0 auto;
}
.bottom .inner .left{
    float:left;
}
.bottom .inner .left ul{
    margin-top:36px;

}
.bottom .inner .left ul li{
    float:left;
    padding-right:15px;
    padding-bottom: 1px;
    line-height: 30px;
}
.bottom .inner .left ul li h1{
    font-size:14px;
    color:white;
    font-weight: bold;
}
.bottom .inner .left ul li a{
    color:#959595;
    font-size:14px;
    display: block;
}
.bottom .inner .left ul li a:hover{
    color:#fcd000;
}
.bottom .inner .right{
    float:right;
}
.bottom .inner .right p {
    color: white;
    text-transform: uppercase;
    font-size:24px;
    line-height: 62px;
    letter-spacing: 5px;
    margin-left:0px;
    padding-right:31px;
    float:left;
    font-weight: normal;
    margin-top:21px;
}
.bottom .inner .right .text1{
    font-size: 12px;
    color:#959595;
    text-align: right;
    padding-right: 40px;
}
.bottom .inner .right .text2{
    font-size: 12px;
    color:#959595;
    text-align: right;
    padding-right: 40px;
    font-style: italic;
}