/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-1-20, 13:57:55
    Author     : hxsd
*/
*{margin:0;padding: 0;}
.clear{clear: both;}
body{width:100%;font-family: arial;background-color: #000;}
ul li{list-style: none;}
a{text-decoration: none;}
header{width:100%;height:100px;background-color: #0b0b0b;}
header .inner{height:100px;width:940px;margin:0 auto;}
header .logo{float:left;}
header .logo a{font-size:32px;color:#fff;display: block;text-transform: uppercase;line-height: 100px;letter-spacing: 9px;}
header .nav{float:right;}
header .nav li{float:left;margin-left:35px;}
header .nav a{text-transform: uppercase;color:#5d5d5d;font-size:14px;line-height: 100px;display: block;height:100px;}
header .nav a:hover{color:#fff;}
header .nav .active{color:#fff;}
section{width:100%;background-color: #000;}
section .inner{width:940px;margin:0 auto;}
section .taking .left{width:640px;height:402px;float:left;overflow: hidden;position:relative;}
section .taking .right{width:300px;height:402px;float: right;background-color: #fff;position: relative;}
section .taking .right h1{font-size:18px;color:#2d2d2d;line-height: 63px;display: block;height:63px;padding-top:15px;text-transform: uppercase;word-spacing: 8px;letter-spacing: 3px;border-bottom: 1px solid #555;width:220px;margin-left:40px;}
section .taking .right p{font-size:12px;color:#4d4d4d;line-height: 20px;padding-left:40px;padding-right:77px;margin-top:20px;font-style: italic;}
section .taking .blog a{color:#858585;font-size:14px;margin-left:40px;font-style: italic;}
section .taking .blog a:hover{color:red;}
section .taking .blog{position: absolute;bottom: 36px;}
section .ante{width:940px;height:402px;margin-top:20px;position: relative;}
section .ante .tip{width:300px;height:402px;float:left;margin-right:20px;}
section .ante .tip a{width:300px;height:402px;overflow: hidden;display: block;}
section .ante .tip-last{width:300px;height:402px;float:right;}
section .ante .tip-last a{width:300px;height:402px;overflow: hidden;display: block;}
section .ante .en{width:301px;height:247px;background-color: #fff;margin-left:0;position:absolute;top:157px;}
section .ante .en h1{font-size:18px;color:#2d2d2d;line-height: 63px;display: block;height:63px;padding-top:15px;text-transform: uppercase;word-spacing: 8px;letter-spacing: 3px;border-bottom: 1px solid #555;width:220px;margin-left:40px;}
section .ante .en p{font-size:12px;color:#4d4d4d;line-height: 20px;padding-left:40px;padding-right:77px;margin-top:20px;font-style: italic;}
section .lone{width:940px;height:402px;margin-top:20px;}
section .ante .bird{position:absolute;top:40px;left:520px;}
section .lone .tip{width:300px;height:402px;float:left;margin-right:20px;position:relative;}
section .lone .tip a{width:300px;height:402px;overflow: hidden;display: block;}
section .lone .tip-last{width:300px;height:402px;float:right;position: relative;}
section .lone .tip-last a{width:300px;height:402px;overflow: hidden;display: block;}
section .lone .en{width:301px;height:247px;background-color: #fff;margin-left:0;position:absolute;top:157px;}
section .lone .tip-last .en h1{font-size:18px;color:#2d2d2d;line-height: 63px;display: block;height:63px;padding-top:15px;text-transform: uppercase;word-spacing: 8px;letter-spacing: 3px;border-bottom: 1px solid #555;width:220px;margin-left:40px;}
section .lone .tip-last .en p{font-size:12px;color:#4d4d4d;line-height: 20px;padding-left:40px;padding-right:77px;margin-top:20px;font-style: italic;}
section .contact .hehe{width:620px;height:402px;float:right;overflow: hidden;padding-top:20px;padding-left: 20px;position:relative;}
section .contact .hehe .bird{position: absolute;top:40px;right:20px;}
section .contact .right{width:300px;height:402px;float: left;background-color: #fff;position: relative;margin-top: 20px;}
section .contact .right h1{font-size:18px;color:#2d2d2d;line-height: 63px;display: block;height:63px;padding-top:15px;text-transform: uppercase;word-spacing: 8px;letter-spacing: 3px;border-bottom: 1px solid #555;width:220px;margin-left:40px;}
section .contact .right p{font-size:12px;color:#4d4d4d;line-height: 20px;padding-left:40px;padding-right:77px;margin-top:20px;font-style: italic;}
section .contact .blog a{color:#858585;font-size:14px;margin-left:40px;font-style: italic;}
section .contact .blog a:hover{color:red;}
section .contact .blog{position: absolute;bottom: 36px;}
footer{width:100%;height:142px;background-color: #0b0b0b;margin-top:30px;text-align: center;}
footer .inner{width:940px;height:142px;margin:0 auto;}
footer .inner ul li{float:left;width:24px;height:24px;overflow: hidden;margin-left:15px;display: block;}
footer .inner ul{padding-top:38px;margin-left:380px;}
footer .inner p{color:#595959;margin-top:20px;font-size:12px;text-transform: uppercase;font-style: italic;}
section .lone .text1{width:115px;height:30px;background-color: #fff;font-size:12px;color:#2a2a2a;word-spacing: 3px;position:absolute;top:40px;left:20px;text-transform: uppercase;line-height: 30px;text-align: center;font-family: arial;}
section .lone .text2{width:110px;height:30px;background-color: #fff;font-size:12px;color:#2a2a2a;position:absolute;top:70px;left:20px;text-transform: uppercase;line-height: 30px;text-align: center;font-family: arial;}
section .taking .triangel{width:20px;height:20px;position:absolute;z-index: 3;right:-10px;top:40px;}
section .lone .en .triangel{width:20px;height:20px;position:absolute;z-index: 3;left:40px;top:-12px;transform: rotate(90deg);}
section .contact .en .triangel{width:20px;height:20px;position:absolute;z-index: 3;left:40px;top:144px;transform: rotate(90deg);}

