 /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-1-9, 11:27:44
    Author     : hxsd
*/
*{
    margin:0; 
    padding:0;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: #0d1424 url(../picture/body-bg.jpg) no-repeat center top;
    font-family: "Arial";
}
.wrap{
    width:980px;
    margin:0 auto;
}
header{
    margin-top:34px;
}
.nav{
    margin-top: 37px;
}
.nav-wrap{
    width:100%;
    height:40px;
    background-color: #888;
    border-radius: 7px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
.nav-wrap .list-wrap{
    margin-left: 27px;
}
.nav-wrap  .list-wrap ul {
    float:left;

}
.nav-wrap .list-wrap ul li{
    float:left;
    padding-right: 30px;
}
.nav-wrap .list-wrap ul li a{
    font-size:12px;
    color:#feffff;
    line-height: 40px;
    text-shadow: 2px  3px 3px rgba(0,0,0,0.5);
}
.nav-wrap form{
    padding-top:7px;
    margin-right: 10px;
}
.nav-wrap  input{
    float:right;
    width:130px;
    height:27px;
    padding-left: 10px;
    border-radius: 4px;
    outline: none;
    transition:all 2s;
}
section .wrap{
    width:100%;
    margin-top:30px;
}
section .wrap  article{
    height: 100%;
    width:670px;
    float:left;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 5px 7px rgba(0,0,0,0.5);
}
section .wrap article .inner{
    width:600px;
    height:100%;
    margin:0 auto;
}
section .wrap article .inner h1{
    font-size:20px;
    margin-top:35px;
}
section .wrap .clear{
    clear: both;
}
section .wrap article .inner p{
    font-size:12px;
    margin-top:11px;
}
section .wrap article .pic{
    font-size: 0px;
    margin-top:15px;
}
section .wrap article .inner .content{
    margin-top: 27px;
    font-size:15px;
    line-height: 21px;
}
section .wrap article .inner .media{
    margin-top: 12px;
    width: 100%;
}
section .wrap article .inner .media video{
    width:100%;
}
section .wrap aside{
    float:right;
    width:240px;
}
section .wrap aside .list1{
    
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 5px 7px rgba(0,0,0,0.5);
    margin-bottom: 27px;
}
section .wrap aside .list1 h1{
    font-size:15px;
    color:#000104;
    margin-left: 19px;
    line-height: 34px;
}
section .wrap aside .list1 ul{
   margin-top:2px;
   padding-bottom: 10px;
}
section .wrap aside .list1 ul li{
    padding-right:30px;
}
section .wrap aside .list1 ul li a{
    color:#000002;
    font-size:12px;
    font-family: "Arial";
    display: block;
    border-top: 1px solid #eeeeee;
    line-height: 30px;
    margin-left: 20px;
}
footer{
    width:100%;
    height:87px;
    text-align: center;
    font-size: 14px;
    color:#65646a;
}
footer .wrap {
    margin-top:15px;
}
footer .wrap p{
    padding-bottom: 1px;
    line-height: 21px;
}
 .menu{
    padding-top:10px;
    display: none;
}
@media screen and (max-width:980px){
    .wrap{
        width:96%;
    }
    header .nav .nav-wrap{
        width:96%;
    }
    section .wrap{width:96%;}
    section .wrap  article{
        width:61%;
    }
    section .wrap aside{
        width:24%;
    }
    section .wrap article .inner{
        width:94%;
    }
    section .wrap  article .pic img{
        width:90%;
    }
    section .list1 ul li a{
        width:auto;
    }
    section .wrap article .inner .media{
        width:100%;
    }
    
}
@media screen and (max-width:640px){
    form{
        position: absolute;
        right:0px;
        top:75px;
    }
 .nav-wrap input{
        width:70px;
    }
    .nav-wrap input:focus{
        width:130px;
    }
    section .wrap article{
        
    }
   section .wrap  article{
        width:auto;
        float:none;
    }
    section .wrap aside{
        padding-top: 30px;
        width: auto;
        float:none;
    }
}
@media screen and (max-width:320px){
    .menu{
        display: block;
    }
    .nav-wrap .list-wrap ul{
        display: none;
    }
}