/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-1-2, 20:15:29
    Author     : hxsd
*/

*{margin:0;padding:0;}
body{
     background-color: #191919;
     font-family: arial;
}
header{
    width:100%;
    height:62px;
    background-color: #000000;
}
a{text-decoration: none;}
ul li{list-style: none;}
header .inner{
    width:100%;
    height:100%;
    margin:0 auto;
}
header.inner .nav{
    float:left;
}
header .inner .logo{
    float:left;
}
 
@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.3.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
header .inner .logo p {
    color: white;
    text-transform: uppercase;
    font-size:24px;
    line-height: 62px;
    letter-spacing: 5px;
    margin-left:0px;
    padding-right:31px;
    float:left;
    margin-left: 20px;
}
header .inner .logo ul li{
    float:left;
}
header .inner .logo ul{
    float: left;
    padding-right: 15px;
}
header .inner .logo ul li a{
    font-size: 18px;
    color:white;
    padding-right:13px;
    line-height: 62px;
    display: block;
     transition:all 0.8s;
}
header .inner .logo ul .pic{
    margin-top:6px;
    margin-left:-11px;
}
header .inner .logo ul li a:hover{
    color:#fcd000;
}
header .inner .nav{
    float:right;
}
header .inner .nav ul li{
    float:left;
    margin-left:10px;
}
header .inner .nav ul li a{
    color:white;
    font-size: 18px;
    display: block;
    padding:20px 20px;
    background-color: #343436;
    transition:all 0.4s;
}
header .inner .nav ul li a:hover{
    color:#fcd000;
}
header .inner .nav ul li i{
    margin-top:18px;
    margin-left:11px;
    padding-right:20px;
    font-size: 30px;
    color:#868686;
}
.binner{
    height:435px;
    background-color: #111111;
}
.binner_inner{
    width:819px;
    height:455px;
    margin:0 auto;
}
.binner_inner img{
    position:relative; 
    text-align: center;
    margin-top: -5px;
}
.binner_nav{
    width:100%;
    height:86px;
    margin: 0 auto;
}
.binner_nav1{
    height:86px;
    width:25%;    
    background-color: #263a41; 
    text-align: center;
    cursor: pointer;
    float:left;
     transition:all 0.6s;
}
.binner_nav1:hover{
    background-color: #343436;
    opacity: 0.8;
    color:#411a1b;
}
.binner_nav1:nth-child(2):hover{
    background-color: yellowgreen;
    opacity: 0.8;
    color:#411a1b;
}
.binner_nav1:nth-child(3):hover{
    background-color: #ccccff;
    opacity: 0.8;
    color:#411a1b;
}
.binner_nav1:nth-child(4):hover{
    background-color: #660066;
    opacity: 0.8;
    color:#411a1b;
}
.binner_nav1:nth-child(2){
   
    background-color: #47cf73; 
    text-align: center;
    cursor: pointer;
    color:#28282b;
}
.binner_nav1:nth-child(3){
    background-color: #411a1b; 
}
.binner_nav1:nth-child(4){
    background-color: #1c3725; 
}
.binner1{
    padding-top:20px;
    font-size:18px;
    color:white;
}
.binner_nav1 a{
    text-decoration: none;
    color:white;
    font-size:20px;    
}
.main{
    height:780px;
    width:1160px;
    margin:0 auto;
}
.main2{
    height:780px;
    width:1160px;
    margin:0 auto;
}
.main_inner1{
    width:1160px;
    height:160px;
    border-bottom: 5px solid #0ebeff;
    position:relative;
}
.main_inner_text1{
    color:white;
    font-size:40px;
    font-weight: bolder;
    padding-top:109px;
}
.main_inner_text2 a{
    color:#76daff;
    font-size:14px;
    font-weight: bolder;
    position:absolute;
    top:132px;
    right:0px;
}
.main_inner_text2 img{
    position: absolute;
    padding-left:1138px;
    margin-top:-20px;
}
.main_nav{
    width:1160px;
    height:281px;
    margin:0 auto;
    position:absolute;
    margin-top:25px;
}
.main_nav .shoter{
    width:1160px;
    height:261px;
    margin:0 auto;
    position:absolute;
    margin-top:25px;
}
.main_nav4{
    width:1160px;
    height:281px;
    margin:0 auto;
    position:absolute;
    margin-top:330px;
}
.main_nav1{
    width:372px;
    height:281px;
    background-color: #2f2f31;
    float:left;
    margin-right:22px;
    border-radius: 4px;
}
.main_nav2{
    width:372px;
    height:281px;
    background-color: #2f2f31;
    float:right;
    border-radius: 4px;
}
.main_nav_pic{
    margin-top:5px;
    margin-left:5px;
}
.main_nav_text1{
    font-size:18px;
    font-weight: bolder;
    color:#999999;
    padding-left:15px;
    padding-top:10px;
}
.main_nav1_bottom_left {
    padding-left:15px;
    margin-top:10px;
    float:left;
    color:#999999;
    font-size:14px;
    font-weight: bolder;
}
.main_nav1_bottom_left span{ 
    position:absolute;
    color:#999999;
    font-size:14px;
    font-weight: bolder;
    padding-bottom: 5px;
}
.main_nav1_bottom_left img{ 
    padding-right:5px;
}
.main8_nav1_bottom_left img{ 
    padding-right:5px;
}
.small_picture ul li{
    float:left;
    list-style: none;  
    padding-left:13px;
}
.small_picture span{
    margin-right:5px;
    font-size:12px;
}
.small_picture {
    margin-left: 220px;
    color:#999999;
    margin-top:10px;
}
.small_picture i{
    color:#999999;
}
.hot button{
    width:86px;
    height:39px;
    background-color: #191919;
    color:white;
    font-size:14px;
    font-weight: bold;
}
.hot{
    width:86px;
    height:39px;
    margin:0 auto;  
    margin-top:33px;
    border:3px solid white;
    border-radius: 3px;
}
.hot_news{
    width:1160px;
    height:554px;
    margin:0 auto;
}
.hot_news2{
    width:1160px;
    height:440px;
    margin:0 auto;
}
.title{
    color:white;
    font-size:40px;
    font-weight: bolder;
    padding-top:135px;  
}
.wrapper{
    width:1160px;
    height:188px;
    border-bottom: 5px solid #47cf73;
}
.wrapper2{
    width:1160px;
    height:188px;
    border-bottom: 5px solid #ae63e4;
}
.tips a{
    padding-right:25px;
    float:right;
    color:#76d1cc;
    font-size:14px;
    font-weight: bolder;
    margin-top:-20px;
}
.tips-icon a{
    padding-right:25px;
    float:right;
    color:#76d1cc;
    font-size:14px;
    font-weight: bolder;
    margin-top:-20px;
}
.tips img{
    position:absolute;
    margin-top:-16px;
    margin-left:1140px;
}
.tips-icon img{
    position:absolute;
    margin-top:-16px;
    margin-left:1140px;
}
.content{
    height:336px;
    width:1160px;
    margin:0 auto;
    margin-top:25px;
}
.block1{
    width:371px;
    height:231px;
    float:left;
    background-color: red;
    margin-right:21px;
    background-color: #2f2f31;
}
.block{
    width:371px;
    height:336px;
    float:left;
    background-color: red;
    margin-right:21px;
    background-color: #2f2f31;
}
.block1_right{
    width:371px;
    height:231px;
    float:right;
    background-color: red;
    background-color: #2f2f31;
}
.block_right{
    width:371px;
    height:336px;
    float:right;
    background-color: red;
    background-color: #2f2f31;
}
.block img{
    padding-left:5px;
    padding-top:5px;
}
.block1 img{
    padding-left:5px;
    padding-top:5px;
}
.block_right img{
    padding-left:5px;
    padding-top:5px;
}
.block1_right img{
    padding-left:5px;
    padding-top:5px;
}
.screenshot_left img{
    display: block;
    position:absolute;
    margin-top:2px;
    padding-left:14px;
}
.screenshot_left span{
    padding-left:40px;
    font-size: 12px;
    color:#999999;
    line-height: 34px;
}
.screenshot_right ul li{
    float:left;
    color:#999;
    margin-left:15px;
}
.screenshot_right ul{
    padding-right:5px;
    list-style: none;
    position:absolute;
    margin-left:217px;
    margin-top:-25px;
}
.screenshot_right span{
    font-size:14px;
}
.footer{
    width:100%;
    height:416px;
    background-color: #28282b;
}
.footer .main{
    width:1160px;
    height:416px;
    margin:0 auto;
    margin-top:130px;
}
.footer .main .block1{
    width:272px;
    height:316px;
    background-color: #242427;
    margin-top:40px;
    float:left;
    margin-right:23px;
    position: relative;
}
.footer .main .block2{
    width:272px;
    height:316px;
    background-color: #242427;
    margin-top:40px;
    float:right;
}
.footer .main .block1 h3{
    color:white;
    font-size:20px;
    font-weight: bolder;
    margin-left:20px;
    margin-top:20px;
}
.footer .main .block1 h3 span{
    width:37px;
    height:20px;
    background-color: #fcd000;
    color:black;
    font-size:14px;
    font-weight: bolder;
    margin-left:5px;
    text-align: center;
}
.footer .main .block1 .information{
    color:#999;
    font-size:12px;
    font-weight: bolder;
    margin-left:5px;
    padding-right: 20px;
    padding-left:20px;
    margin-top:15px;
    line-height: 18px;
    font-family: "Arial";
}
.footer .main .block1 .information ul{
    margin-left:15px;
}
.footer .main .block1 .information span{
    color:#64daea;
}
.footer .main .block1 button{
    color:white;
    font-size:18px;
    font-weight: bolder;
    width:230px;
    height:45px;
    border-radius: 4px;
    background-color: #343436;
    margin-top:15px;
    margin-left:20px;
}
.footer .main .block1 .fea{
    text-align: center;
    font-size:14px;
    font-weight: bold;
    color:#57daff;
    margin-top:20px;
}
.block2 img{
    margin-top:20px;
    margin-left:20px;
}
.bottom{
    width:100%;
    height:191px;
    background-color: #111111;
}
.bottom .innr{
    width:1160px;
    height:191px;
    margin:0 auto;
}
.bottom .innr .left{
    width:580px;
    height:191px;
    float:left;
}
.bottom .innr .left .list ul li{
    list-style: none;
    float:left;
    margin-right:20px;
    font-family: "Arial";
    font-size:14px;
    color:#999;
    line-height: 30px;
}
.bottom .innr .left .list span{
    font-size:14px;
    font-weight: bolder;
    color:white;
    line-height: 30px;
}
.bottom .innr .left .list{
    margin-top:35px;
}
.bottom .innr .right{
    float:right;
}
.bottom .innr .right p {
    color: white;
    text-transform: uppercase;
    font-size:24px;
    line-height: 62px;
    letter-spacing: 5px;
    margin-left:0px;
    padding-right:31px;
    float:left;
    font-weight: normal;
    margin-top:21px;
}
.bottom .innr .right .text1{
    font-size: 12px;
    color:#959595;
    text-align: right;
    padding-right: 40px;
}
.bottom .innr .right .text2{
    font-size: 12px;
    color:#959595;
    text-align: right;
    padding-right: 40px;
    font-style: italic;
}